std.crypto.Certificate.verify: additionally verify "key usage"

[RFC 5280 section 4.2.1.3](https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.3)

https://github.com/ziglang/zig/blob/c9ef277fa7e43f119a7f2896635b4fdf9c97edbe/lib/std/crypto/Certificate.zig#L197-L201

Not only should key usage be verified, but also:
- Additional key usage
- Policy chain
- Basic constraints
- All critical extensions are parsed