`std.http.Server.Request.discardBody` may panic when `keep_alive` is `true` but no valid header for body length is present

### Zig Version

0.16.0-dev.27+83f773fc6

### Steps to Reproduce and Observed Behavior

1. Run the following program
```zig
const std = @import("std");

const ip = "127.0.0.1";
const port = 1337;

pub fn main() !void {
    const addr = try std.net.Address.parseIp4(ip, port);
    var server = try addr.listen(std.net.Address.ListenOptions{ .reuse_address = true });
    defer server.deinit();

    std.log.info("Start HTTP server at http://{s}:{d}", .{ ip, port });

    while (true) {
        const conn = server.accept() catch |err| {
            std.log.err("Failed to accept connection: {s}", .{@errorName(err)});
            continue;
        };
        _ = std.Thread.spawn(.{}, accept, .{conn}) catch |err| {
            std.log.err("Unable to spawn connection thread: {s}", .{@errorName(err)});
            conn.stream.close();
            continue;
        };
    }
}

fn accept(conn: std.net.Server.Connection) !void {
    defer conn.stream.close();
    var recv_buf: [4096]u8 = undefined;
    var send_buf: [4096]u8 = undefined;
    var conn_reader = conn.stream.reader(&recv_buf);
    var conn_writer = conn.stream.writer(&send_buf);
    var server = std.http.Server.init(conn_reader.interface(), &conn_writer.interface);

    while (server.reader.state == .ready) {
        var req = server.receiveHead() catch |err| switch (err) {
            error.HttpConnectionClosing => return,
            else => return err,
        };
        std.log.info("{s} {s} {s}", .{
            @tagName(req.head.method),
            req.head.target,
            @tagName(req.head.version),
        });

        try req.respond("hello world\n", std.http.Server.Request.RespondOptions{});
    }
}
```
2. Run `printf 'POST /x HTTP/1.1\r\nConnection: keep-alive\r\n\r\nGET /x HTTP/1.1\r\nConnection: keep-alive\r\n\r\n' | nc localhost 1337`:
```
thread 3695 panic: reached unreachable code
/zig-0.16.0/lib/std/debug.zig:563:14: 0x104e803 in assert (main)
    if (!ok) unreachable; // assertion failure
             ^
/zig-0.16.0/lib/std/http/Server.zig:631:27: 0x10d1acb in discardBody (main)
                    assert(request.head.transfer_encoding != .none or request.head.content_length != null);
                          ^
/zig-0.16.0/lib/std/http/Server.zig:350:47: 0x10cb7d3 in respondUnflushed (main)
        const keep_alive = request.discardBody(server_keep_alive);
                                              ^
/zig-0.16.0/lib/std/http/Server.zig:328:29: 0x10c94af in respond (main)
        try respondUnflushed(request, content, options);
                            ^
/test1234/main.zig:45:24: 0x10c8e5b in accept (main)
        try req.respond("hello world\n", std.http.Server.Request.RespondOptions{});
                       ^
/zig-0.16.0/lib/std/Thread.zig:529:21: 0x10c8293 in callFn__anon_22743 (main)
                    @call(.auto, f, args) catch |err| {
                    ^
/zig-0.16.0/lib/std/Thread.zig:1382:30: 0x10c7937 in entryFn (main)
                return callFn(f, self.fn_args);
                             ^
/zig-0.16.0/lib/std/os/linux/aarch64.zig:124:5: 0x10c8397 in clone (main)
    asm volatile (
    ^
Aborted
```

https://github.com/ziglang/zig/blob/7fdd60df1c40bc36a8e0b35be3e35f81dd97fbce/lib/std/http/Server.zig#L631

### Expected Behavior

It should not panic.

Moreover, if I understand correctly, maybe there is nothing to discard in this case, since [RFC 9112 Section 6.3](https://www.rfc-editor.org/rfc/rfc9112.html#section-6.3-2.7)[^1] states that it should be treated as having a zero-length body?

So the expected behavior might be:
```sh
$ printf 'POST /x HTTP/1.1\r\nConnection: keep-alive\r\n\r\nGET /x HTTP/1.1\r\nConnection: keep-alive\r\n\r\n' | nc localhost 1337
HTTP/1.1 200 OK
content-length: 12

hello world
HTTP/1.1 200 OK
content-length: 12

hello world
```

Btw, I'm happy to open a PR for this if [this commit](https://github.com/lebr0nli/zig/commit/9108be2e392694e0047cb4c37b31fa5710734f74) is a proper fix for it :)


[^1]: If this is a request message and none of the above are true, then the message body length is zero (no message body is present).
