std.crypto.tls.Client: send an alert message to the server when an error occurs

Extracted from #13980.

See [RFC 8446 section 6](https://datatracker.ietf.org/doc/html/rfc8446#section-6).

Currently the TLS client implementation will return an error, but the server will see it as a disconnect and not know why the connection was terminated.