std.http.Server: "Expect: 100-continue" header not handled properly.

### Zig Version

0.12.0-dev.80+014d88ef6

### Steps to Reproduce and Observed Behavior

<details>
<summary>Minimally reproducible example. It will hang indefinitely. If you uncomment the code immediately following the `TODO`, it'll pass.</summary>

```zig
const std = @import("std");

test "HTTP server handles \"Expect: 100-continue\"" {
    const builtin = @import("builtin");

    // This test requires spawning threads.
    if (builtin.single_threaded) {
        return error.SkipZigTest;
    }

    const native_endian = comptime builtin.cpu.arch.endian();
    if (builtin.zig_backend == .stage2_llvm and native_endian == .Big) {
        // https://github.com/ziglang/zig/issues/13782
        return error.SkipZigTest;
    }

    if (builtin.os.tag == .wasi) return error.SkipZigTest;

    const allocator = std.testing.allocator;
    const expect = std.testing.expect;

    const max_header_size = 8192;
    var server = std.http.Server.init(allocator, .{ .reuse_address = true });
    defer server.deinit();

    const address = try std.net.Address.parseIp("127.0.0.1", 0);
    try server.listen(address);
    const server_port = server.socket.listen_address.in.getPort();

    const server_thread = try std.Thread.spawn(.{}, (struct {
        fn apply(s: *std.http.Server) !void {
            var res = try s.accept(.{
                .allocator = allocator,
                .header_strategy = .{ .dynamic = max_header_size },
            });
            defer res.deinit();
            defer _ = res.reset();
            try res.wait();

            try expect(res.request.transfer_encoding.? == .chunked);

            // TODO: Either implement an API for this in `std.http.Server.Response` or implicitly
            // handle it somehow.
            // if (res.request.headers.getFirstValue("Expect")) |exp| {
            //     if (std.ascii.eqlIgnoreCase("100-continue", exp)) {
            //         try res.connection.writer().print("{s} {d} {s}\r\n\r\n", .{
            //             @tagName(res.version),
            //             @intFromEnum(std.http.Status.@"continue"),
            //             std.http.Status.@"continue".phrase() orelse unreachable,
            //         });
            //     }
            // }

            // Read the POST data.
            var buf: [128]u8 = undefined;
            const n = try res.readAll(&buf);
            try expect(std.mem.eql(u8, buf[0..n], "ABCD"));

            // Form a response.
            const server_body: []const u8 = "message from server!\n";
            res.transfer_encoding = .{ .content_length = server_body.len };
            try res.headers.append("content-type", "text/plain");
            try res.headers.append("connection", "close");

            // Write the response.
            try res.do();
            _ = try res.writer().writeAll(server_body);
            try res.finish();
        }
    }).apply, .{&server});

    const headers =
        "POST / HTTP/1.1\r\n" ++
        "Content-Type: text/plain\r\n" ++
        "Transfer-Encoding: chunked\r\n" ++
        "Expect: 100-continue\r\n" ++
        "\r\n";
    const body =
        "1\r\n" ++
        "A\r\n" ++
        "1\r\n" ++
        "B\r\n" ++
        "2\r\n" ++
        "CD\r\n" ++
        "0\r\n" ++
        "\r\n";

    const stream = try std.net.tcpConnectToHost(allocator, "127.0.0.1", server_port);
    defer stream.close();
    const reader = stream.reader();
    _ = try stream.writeAll(headers[0..]);

    var response = std.ArrayList(u8).init(std.testing.allocator);
    defer response.deinit();

    // Wait for the 100-continue.
    try reader.streamUntilDelimiter(response.writer(), '\n', null);
    try reader.streamUntilDelimiter(response.writer(), '\n', null);
    try std.testing.expectEqualStrings("HTTP/1.1 100 Continue\r\r", response.items);
    response.clearRetainingCapacity();

    // Write the body of the request.
    _ = try stream.writeAll(body[0..]);

    // Read the response.
    const expectation =
        "HTTP/1.1 200 OK\r\n" ++
        "Server: zig (std.http)\r\n" ++
        "Content-Length: 21\r\n" ++
        "content-type: text/plain\r\n" ++
        "connection: close\r\n" ++
        "\r\n" ++
        "message from server!\n";
    try reader.readAllArrayList(&response, std.mem.page_size * 4);
    try std.testing.expectEqualStrings(expectation, response.items);

    server_thread.join();
}
```

</details>

This was identified while implementing a POST handler for a `multipart/form-data`. I'm testing that code with `curl` which apparently sends the `Expect: 100-continue` header and waits for the server to respond with `HTTP/1.1 100 Continue`. I noticed a consistent 1s delay for the request which appeared to occur outside of my code. I eventually noticed curl was emitting a warning: `Done waiting for 100-continue`.

### Expected Behavior

The expected behavior seems well specified in [RFC 9110, Section 10.1.1](https://www.rfc-editor.org/rfc/rfc9110.html#section-10.1.1). Specifically, the part that seems relevant is paragraph 16:

> The origin server MUST NOT wait for the content before sending the [100 (Continue)](https://www.rfc-editor.org/rfc/rfc9110.html#status.100) response.

I see a few solutions:

1. Immediately send the `HTTP/1.1 100 Continue` at the end of `Server.wait` if the header is observed. This essentially ignores the purpose of the header, but it does prevent the server from deadlocking for these user agents.
1. Implicitly send it at the beginning of `Server.transferReader` if the header is observed. This relies upon the assumption that if the transfer reader is desired by the programmer, then it must mean that the request content is of interest. Thus, the user agent should be told to continue sending it. This is my favorite option.
1. Provide an API for explicitly sending it. This could be internally conditional upon the header being present. This has the benefit that request handlers would have a clear demarcation of where the headers become accepted; however, it is more verbose for the programmer.
1. Don't handle it at all and leave it as an exercise for the reader.
1. Close this issue entirely because the server implementation is only a test bed for the client and niche features aren't supported. (I really don't know what the motivating goal of the server implementation was, so please feel free to let me know if this is the case.)

MDN indicates no major browsers send this header, and that CURL is a bit of an outlier. CURL definitely isn't insubstantial though. https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expect

What a beautiful test case you made here. Too bad it wasn't added to the standard library test suite when this issue was closed. I'm sorry I didn't notice that before when merging the PR.